<?xml version="1.0"?>
<config>
    <modules>
        <Mymodule_Videogallery>
            <version>0.1.0</version>
        </Mymodule_Videogallery>
    </modules>
    <frontend>
        <routers>
            <videogallery>
                <use>standard</use>
                <args>
                    <module>Mymodule_Videogallery</module>
                    <frontName>videogallery</frontName>
                </args>
            </videogallery>            
        </routers>
        <layout>
            <updates>
                <videogallery>
                    <file>videogallery.xml</file>
                </videogallery>
            </updates>
        </layout>        
    </frontend>
    <adminhtml> 
        <layout>
            <updates>
                <videogallery>
                    <file>videogallery.xml</file>
                </videogallery>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>  
                    <children>
                        <system>
                            <children>
                                <config>
                                   <children>
                                       <videogallery translate="title" module="videogallery">
                                           <title>Videogallery</title>
                                           <sort_order>99</sort_order>
                                       </videogallery>
                                   </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
        <routers>
            <videogallery_admin>
                <use>admin</use>
                <args>
                    <module>Mymodule_Videogallery</module>
                    <frontName>videogallery_admin</frontName>
                </args>
            </videogallery_admin>
            <adminhtml>
                <args>
                    <modules>
                        <mymodule_videogallery before="Mage_Adminhtml">Mymodule_Videogallery_Adminhtml</mymodule_videogallery>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <blocks>
            <videogallery>
                <class>Mymodule_Videogallery_Block</class>
            </videogallery>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tabs>Mymodule_Videogallery_Block_Adminhtml_Catalog_Product_Edit_Tabs</catalog_product_edit_tabs>
                </rewrite>
            </adminhtml>
            <catalog>
                <rewrite>
                    <product_view_media>Mymodule_Videogallery_Block_Catalog_Product_View_Media</product_view_media>
                </rewrite>
            </catalog>
        </blocks>
        <models>
            <videogallery>
                <class>Mymodule_Videogallery_Model</class>
                <resourceModel>videogallery_resource</resourceModel>
            </videogallery>
            <videogallery_resource>
                <class>Mymodule_Videogallery_Model_Resource</class>
                <entities>
                    <videos>
                        <table>mymodule_videogallery</table>
                    </videos>
                </entities>
            </videogallery_resource>
        </models>
        <events>
            <catalog_product_save_before>
                <observers>
                    <videogallery_catalog_product_observer>
                        <type>singleton</type>
                        <class>Mymodule_Videogallery_Model_Observer</class>
                        <method>saveVideos</method>
                    </videogallery_catalog_product_observer>
                </observers>
            </catalog_product_save_before>     
        </events>
        <helpers>
            <videogallery>
                <class>Mymodule_Videogallery_Helper</class>
            </videogallery>
        </helpers>
        <resources>
            <videogallery_setup>
                <setup>
                    <module>Mymodule_Videogallery</module>
                    <class>Mymodule_Videogallery_Model_Resource_Setup</class>
                </setup>
            </videogallery_setup>
        </resources>
    </global>
    <default>
        <videogallery>  
            <general> 
                <enable>0</enable> 
            </general>
        </videogallery>
    </default>
</config>